@page "/characters"

<h3>Characters</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in characters)
        {
            <tr>
                <td><img src="@character.Image" class="rounded" style="max-height: 100px;" /></td>
                <td>@character.Id</td>
                <td>@character.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => EditCharacter(character.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateCharacter">Create New Character</button>

<hr />

<EditForm Model="character" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div>
        <label for="id">Id</label>
        <InputNumber id="id" @bind-Value="character.Id" class="form-control"></InputNumber>
        <ValidationMessage For="@(() => character.Id)" />
    </div>
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="character.Name" class="form-control"></InputText>
        <ValidationMessage For="@(() => character.Name)" />
    </div>
    <div>
        <label for="bio">Bio</label>
        <InputTextArea id="bio" @bind-Value="character.Bio" class="form-control"></InputTextArea>
    </div>
    <div>
        <label for="birthdate">Birthdate</label>
        <InputDate id="birthdate" @bind-Value="character.BirthDate" class="form-control"></InputDate>
    </div>
    <div>
        <label for="team">Team</label><br />
        <InputRadioGroup id="team" @bind-Value="character.TeamId" class="form-control">
            @foreach (var team in teams)
            {
                <InputRadio Value="@team.Id" />
                <span style="padding-left: 5px;">@team.Name</span>
                <br />
            }
        </InputRadioGroup>
    </div>
    <div>
        <label for="difficulty">Difficulty</label>
        <InputSelect id="difficulty" @bind-Value="character.DifficultyId" class="form-control">
            @foreach (var difficulty in difficulties)
            {
                <option value="@difficulty.Id">@difficulty.Title</option>
            }
        </InputSelect>
    </div>
    <div>
        <InputCheckbox id="readyToFight" @bind-Value="character.IsReadyToFight" class="form-check-input"></InputCheckbox>
        <label for="readyToFight" class="form-check-label">Ready to Fight</label>
    </div>
    <div>
        <img src="@character.Image" class="rounded" style="max-height: 200px;" />
    </div>
    <div>
        <label for="image">Image</label>
        <InputFile OnChange="OnFileChange" class="form-control"></InputFile>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@(isNew ? "Create Character" : "Update Character")</button>
    @if (!isNew)
    {
        <button type="button" class="btn btn-danger" @onclick="DeleteCharacter">Delete Character</button>
    }
    <ValidationSummary />
</EditForm>


<p style="height:500px;"></p>